{% extends 'blog/base.html' %}
{% block title %}Welcome to my blog{% endblock %}

{% block content %}
        <div id="main" class="eight columns">
        {% if articles %}
            {% for article in articles%}
            <article class="entry">
                <header class="entry-header">
                    <h2 class="entry-title">
                        <a href="{{ article.get_absolute_url }}" title="{{ article.title }}"> {{ article.title }}</a>
                    </h2>                
                    <div class="entry-meta">
                        <ul>
                            <li>{{article.pub_date}}</li>                              
                            <span class="meta-sep">&bull;</span>
                            <li>{{ article.author }}</li>
                            <span class="meta-sep">&bull;</span>                                
                            <li>{{ article.category }}</li>
                            <span class="meta-sep">&bull;</span>
                            <li>{{ article.description }}</li>
                        </ul>
                    </div> 
                     
                </header> 
                    
                <div class="entry-content">
                    {{ article.body|safe }}
                </div> 

            </article> <!-- end entry --> 
            {% endfor %}
        {% else %}
            <p> There are no posts </p>
        {% endif %}
        </div> <!-- end main -->

{% endblock %}